#container{
    text-align: center;
    margin: auto;
    background-color: #55AD9B;
    width: 60%;
    border-radius: 10px;

}
#inp{
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
#add{
    font-size: 20px;
    width:15%;
    border-radius: 10px;
    border: none;
    background-color: #F98866;
    cursor: pointer;
}
#list{
    
}