body{
    background-color: #eef3f4;
    text-align: center;
}
form{
    background-color:#478CCF;
    width: 20%;
   text-align: center;
   margin: auto;
   margin-top: 10%;
  
}
h2{
    color: #090909;
}
button{
    color: #eef3f4;
    background-color: black;
    font-size: larger;
}
